@import '../utils/variables';

#search-container {
    @include flex(row);
    width: 100%;
    padding: 30px 20px;

    #search-icon {
        margin-right: 12px;
    }

    #search-form {
        input {
            background-color: $dark-blue;
            border: 1px solid $dark-blue;
            font-weight: 300;
            font-size: 19px;
            color: $grey-blue;
            width: 300px;
            caret-color: $red;
        }

        // &:active {
        //     color: $white;
        //     border-bottom: 1px solid $grey-blue;
        // }
    }
}
