@import '../utils/variables';

#nav-bar {
    @include flexCenter(row);
    width: 100vw;
    height: 56px;
    justify-content: space-between;
    background-color: $semi-dark-blue;
    padding: 20px;

    #nav-items {
        @include flexCenter(row);
        img {
            padding: 0 10px 0 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #account {
        #avatar {
            width: 33px;
            border: 2px $white solid;
            border-radius: 100%;
        }
    }
}
