@import '../utils/variables';

#thumbnail-container {
    position: relative;
    height: 140px;
    width: 240px;
    min-width: 240px;
    margin-right: 16px;
    border-radius: 8px;
    background-size: cover;
}

#lrg-info-wrapper {
    position: absolute;
    bottom: 16px;
    left: 18px;

    #lrg-info {
        @include flexCenter(row);

        p {
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            margin: 0;

            img {
                width: 20%;
                border-radius: 0;
                margin-right: 3px;
            }
        }

        span {
            padding: 0 7px;
        }

        #category {
            @include flexCenter(row);
        }
    }

    #lrg-title {
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
    }
}
