// utils
@import '~bootstrap/scss/bootstrap';
@import './components/styles/utils/variables';

// components
@import './components/styles/components/nav';
@import './components/styles/components/searchbar';
@import './components/styles/components/thumbnaillarge';
@import './components/styles/utils/layout';
@import './components/styles/pages/home';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: $dark-blue;
    font-family: $font-outfit, sans-serif;
    color: $white;
    @include flex(column);
}
